*{margin: 0;
    padding: 0;
}
    .wrapper{
        width:100%;height:3900px;
        position: relative;overflow:hidden ;box-sizing: border-box;
    }
    .header{
        position: relative;
        width:100%;height:1.6%;background: #1d1c1d;color:white;box-sizing: border-box;
        display: flex;flex-direction: row;
    }

   
    .header .header-left{
      width:50%;
      height:100%;
    }
    .header .header-left .text{
        width: 300px;height:100%;display:flex;flex-direction: row;
        position: relative;padding-top:30px;left:90px; 
    }
    .header .header-left .text span{
        padding-left:5px;
    }
    .header .header-left .text #gmail{
      position: relative;left:13px;
    }
    .header .header-left .text .fa.fa-envelope-o{
        position: relative;left:10px;
    }
    .header .header-right{
      width:50%;
      height:100%;display: flex; flex-direction: row;
      padding-left:50px;
    }
    .header .header-right .right{
        width:40% ;height:100%;
       
        padding-left: 40px ;
        padding-top: 10px ;
        position: relative;
        
    }
    .header .header-right .right::after{
      content:"";
      position: absolute;
      width:1px;
      height:30px;
      background-color: #fff;
     right:10px;
     top:15px;
    }
    .header .right i{
        position:relative;top:10px;left:10px; font-size: 20px;padding-left:12px;
        cursor: pointer;
    }
    .header .header-right .right-login{
        
        display:flex;flex-direction: row;
        width:60% ;height:100%;
        padding-top: 13px ;
        text-align: center;
       
       
    }
    .header .header-right .right-login a{
      font-size: 24px;
      color: rgb(255, 255, 255);
    }
    .header .header-right .right-login .apply{
      cursor: pointer;
        position: relative;
        border-radius: 9px ;
        width:100px;
        height:40px;
        background: rgb(193, 233, 16);
        -webkit-border-radius: 9px ;
        -moz-border-radius: 9px ;
        -ms-border-radius: 9px ;
        -o-border-radius: 9px ;
        position: relative; left :40px;
        top:0px;
}
    .header .header-right .right-login .apply a{
      font-size: 24px;
    }
    .wrapper .menu{
        box-sizing: border-box;position: sticky;top:0;z-index: 6;
        width:100%;height: 1.8%;background: white;
        display:flex;flex-direction: row;box-shadow: 0px 1px 5px rgba(190,190,190,.46);

    }
    .wrapper .menu .small-icon-responsive{
      width:40%;
      height:100%;
      text-align: center;
      font-size: 38px;display: flex;
      position: relative;
      display: none;
     
    }
    .wrapper .menu .small-nav{
      width:200px;
      height:220px;
      list-style-type: none;
      display: none;
      background-color: #fff;
      position: absolute;
      top:65px ;left:170px;
      justify-content: center;
      text-align: center;

    }
    .wrapper .menu .small-nav .small-li{
      padding:3px;
    }
    .wrapper .menu .small-nav .small-li a{
      color: #000;font-size: 18px;
    }
    .wrapper .menu .menu-left{
      width:40%;
      height:100%;
    }
    .wrapper .menu .menu-left .logo{
        height:80%;width:230px;position: relative;
        position: relative;left:30px;top:10px;
    }
    .wrapper .menu .menu-right{
      width:60%;
      height:100%;
     
    }
    .wrapper .menu .menu-right .main-ul{
       padding-top: 20px; display:flex;position: relative;
       list-style-type: none;
    }
    .wrapper .menu .menu-right .main-ul .main-li #active{
      color: rgb(245, 229, 9);
    }
    
    .wrapper .menu .menu-right .main-ul .main-li a{
       text-decoration:none;padding:10px 12px;font-size: 21px;color: rgb(10, 10, 10);
    }
    .wrapper .menu .menu-right .main-ul .main-li a:hover{
      color: rgb(241, 245, 4);
    }
    .wrapper .menu .menu-right .main-ul #search{
        position: relative;font-size: 21px;cursor: pointer;
    }
    .wrapper .menu .menu-right .main-ul .active-li{
      position: relative;
    }
   
    .wrapper .menu .menu-right .main-ul .main-li>#sub1{
      position: absolute;display: none;
     background: white;top:36px;
   
     width:200px;
     list-style-type: none;
    height: 300px;
    left :0px;

    }
    .wrapper .menu .menu-right .main-ul .main-li >#sub1 .main-li a{
      font-size: 17px;
    }
    .wrapper .menu .menu-right .main-ul .main-li >#sub1 .main-li a:hover{
      color: rgb(248, 244, 3);
    }
    .wrapper .menu .menu-right .main-ul .main-li >#sub1 .sub1-li{
    padding:10px;
    }
    
    
    .wrapper .menu .menu-right .main-ul .main-li >#sub1 .main-li a{
     font-size: 17px;position: relative;top:-20px;
    }
    .wrapper .menu .menu-right .main-ul .main-li:hover>#sub1{
      display:block;
    }
    .wrapper .content{
        width:100%;height:87%;box-sizing: border-box;background: rgb(255, 255, 255);
        position: relative;display:flex;flex-direction: column;
    }
.wrapper .content .main-slider{
        width:100%;height:17%;

    }
 .wrapper .content .main-slider .slider-container {
position: relative;
height: 100%;
-webkit-user-select: none;
 -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
cursor: all-scroll;
}

.wrapper .content .main-slider .slider-control {
z-index: 2;
position: absolute;
top: 0;
width: 12%;
height: 100%;
-webkit-transition: opacity 0.3s;
transition: opacity 0.3s;
will-change: opacity;
opacity: 0;
}
.wrapper .content .main-slider .slider-control.inactive:hover {
cursor: auto;
}
.wrapper .content .main-slider .slider-control:not(.inactive):hover {
opacity: 1;
cursor: pointer;
}
.wrapper .content .main-slider .slider-control.left {
left: 0;
background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.18)), to(rgba(0, 0, 0, 0)));
background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
}
.wrapper .content .main-slider .slider-control.right {
right: 0;
background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.18)));
background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
}

.wrapper .content .main-slider .slider-pagi {
position: absolute;
z-index: 3;
left: 50%;
bottom: 2rem;
-webkit-transform: translateX(-50%);
      transform: translateX(-50%);
font-size: 0;
list-style-type: none;
}
.wrapper .content .main-slider .slider-pagi__elem {
position: relative;
display: inline-block;
vertical-align: top;
width: 2rem;
height: 2rem;
margin: 0 0.5rem;
border-radius: 50%;
border: 2px solid #fff;
cursor: pointer;
}
.wrapper .content .main-slider .slider-pagi__elem.icon-play-animation {
content: "";
position: absolute;
left: 50%;
top: 50%;
width: 1.2rem;
height: 1.2rem;
background: #fff;
border-radius: 50%;
-webkit-transition: -webkit-transform 0.3s;
transition: -webkit-transform 0.3s;
transition: transform 0.3s;
transition: transform 0.3s, -webkit-transform 0.3s;
-webkit-transform: translate(-50%, -50%) scale(0);
      transform: translate(-50%, -50%) scale(0);
}
.wrapper .content .main-slider .slider-pagi__elem.active.icon-play-animation, .slider-pagi__elem:hover.icon-play-animation {
-webkit-transform: translate(-50%, -50%) scale(1);
      transform: translate(-50%, -50%) scale(1);
}

.wrapper .content .main-slider .slider {
z-index: 1;
position: relative;
height: 100%;
}
.wrapper .content .main-slider .slider.animating {
-webkit-transition: -webkit-transform 0.5s;
transition: -webkit-transform 0.5s;
transition: transform 0.5s;
transition: transform 0.5s, -webkit-transform 0.5s;
will-change: transform;
}
.wrapper .content .main-slider .slider.animating .slide__bg {
-webkit-transition: -webkit-transform 0.5s;
transition: -webkit-transform 0.5s;
transition: transform 0.5s;
transition: transform 0.5s, -webkit-transform 0.5s;
will-change: transform;
}

.wrapper .content .main-slider .slide {
position: absolute;
top: 0;
width: 100%;
height: 100%;
overflow: hidden;
}
.wrapper .content .main-slider .slide.active .slide__overlay,
.wrapper .content .main-slider .slide.active .slide__text {
opacity: 1;
-webkit-transform: translateX(0);
      transform: translateX(0);
}
.wrapper .content .main-slider .slide__bg {
position: absolute;
top: 0;
left: -50%;
width: 100%;
height: 100%;
background-size: cover;
will-change: transform;
}
.wrapper .content .main-slider .slide:nth-child(1) {
left: 0;
}
.wrapper .content .main-slider .slide:nth-child(1) .slide__bg {
left: 0;
background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-3.jpg");
}
.wrapper .content .main-slider .slide:nth-child(1) .slide__overlay-path {
fill: #e99c7e;
}
@media (max-width: 991px) {
.wrapper .content .main-slider .slide:nth-child(1) .slide__text {
background-color: rgba(233, 156, 126, 0.8);
}
}
.wrapper .content .main-slider .slide:nth-child(2) {
left: 100%;
}
.wrapper .content .main-slider .slide:nth-child(2) .slide__bg {
left: -50%;
background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-2.jpg");
}
.wrapper .content .main-slider .slide:nth-child(2) .slide__overlay-path {
fill: #e1ccae;
}
@media (max-width: 991px) {
.wrapper .content .main-slider .slide:nth-child(2) .slide__text {
background-color: rgba(225, 204, 174, 0.8);
}
}
.wrapper .content .main-slider .slide:nth-child(3) {
left: 200%;
}
.wrapper .content .main-slider .slide:nth-child(3) .slide__bg {
left: -100%;
background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-1.jpg");
}
.wrapper .content .main-slider .slide:nth-child(3) .slide__overlay-path {
fill: #adc5cd;
}
@media (max-width: 991px) {
.wrapper .content .main-slider .slide:nth-child(3) .slide__text {
background-color: rgba(173, 197, 205, 0.8);
}
}
.wrapper .content .main-slider .slide:nth-child(4) {
left: 300%;
}
.wrapper .content .main-slider .slide:nth-child(4) .slide__bg {
left: -150%;
background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-4.jpg");
}
.wrapper .content .main-slider .slide:nth-child(4) .slide__overlay-path {
fill: #cbc6c3;
}
@media (max-width: 991px) {
.slide:nth-child(4) .slide__text {
background-color: rgba(203, 198, 195, 0.8);
}
}
.wrapper .content .main-slider .slide__content {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.wrapper .content .main-slider .slide__overlay {
position: absolute;
bottom: 0;
left: 0;
height: 100%;
min-height: 810px;
-webkit-transition: opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
transition: opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
transition: transform 0.5s 0.5s, opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
will-change: transform, opacity;
-webkit-transform: translate3d(-20%, 0, 0);
      transform: translate3d(-20%, 0, 0);
opacity: 0;
}
@media (max-width: 991px) {
.wrapper .content .main-slider .slide__overlay {
display: none;
}
}
.wrapper .content .main-slider .slide__overlay path {
opacity: 0.8;
}
.wrapper .content .main-slider .slide__text {
position: absolute;
width: 25%;
bottom: 15%;
left: 12%;
color: #fff;
-webkit-transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
transition: transform 0.5s 0.8s, opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
will-change: transform, opacity;
-webkit-transform: translateY(-50%);
      transform: translateY(-50%);
opacity: 0;
}
@media (max-width: 991px) {
.wrapper .content .main-slider .slide__text {
left: 0;
bottom: 0;
width: 100%;
height: 20rem;
text-align: center;
-webkit-transform: translateY(50%);
        transform: translateY(50%);
-webkit-transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
transition: transform 0.5s 0.5s, opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
padding: 0 1rem;
}
}
.wrapper .content .main-slider .slide__text-heading {
font-family: "Polar", Helvetica, Arial, sans-serif;
font-size: 5rem;
margin-bottom: 2rem;
}
@media (max-width: 991px) {
.wrapper .content .main-slider .slide__text-heading {
line-height: 20rem;
font-size: 3.5rem;
}
}
.wrapper .content .main-slider .slide__text-desc {
font-family: "Open Sans", Helvetica, Arial, sans-serif;
font-size: 1.8rem;
margin-bottom: 1.5rem;
}
@media (max-width: 991px) {
.wrapper .content .main-slider .slide__text-desc {
display: none;
}
}
.wrapper .content .main-slider .slide__text-link {
z-index: 5;
display: inline-table;width:130px;height:40px ;background: rgb(251, 226, 2);
position: relative;
padding: 0.5rem;
cursor: pointer;
font-family: "Open Sans", Helvetica, Arial, sans-serif;
font-size: 2.3rem;
-webkit-perspective: 1000px;
      perspective: 1000px;
}
.wrapper .content .main-slider .slide__text-link2{
background:teal ;width:130px;height:40px;position: absolute;left:170px;top:310px;text-align-last: center;
z-index: 5;cursor: pointer;
}
.wrapper .content .main-slider .slide__text-link2 h3{
position: relative; top:-15px;
}
@media (max-width: 991px) {
.wrapper .content .main-slider .slide__text-link {
display: none;
}
}
.wrapper .content .main-slider .slide__text-link.icon-play-animation {
z-index: -1;
content: "";
position: absolute;
top: 0;
left: 0;
width: 2px;
height: 100%;
background: rgb(252, 246, 246);
-webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;

-webkit-transition: -webkit-transform 0.3s;
transition: -webkit-transform 0.3s;
transition: transform 0.3s;
transition: transform 0.3s, -webkit-transform 0.3s;
will-change: transform;
}
.wrapper .content .main-slider .slide__text-link:hover.icon-play-animation {
-webkit-transform: rotateX(0);
      transform: rotateX(0);
}


html {
box-sizing: border-box;
font-family: 'Roboto', sans-serif;

}






    .wrapper .content .item1{
       background: rgb(245, 243, 243);width:100%;height:20%;
       position: relative;left:10px;top:1px;
    }
    .wrapper .content .item1 .small_text{
        width:50%;height:20%;position: relative;left:330px;top:40px;
        text-align-last: center;justify-content: center;
    }
    .wrapper .content .item1 .small_text h3{
        color:black ;font-size: 25px;
    }
    .wrapper .content .item1 .small_text p{
        color:gray;padding-top:10px;
    }
    .wrapper .content .item1 .wrap-icon{
        width:100%;height:80%;display:flex;flex-direction: row;
    }
    .wrapper .content .item1 .wrap-icon .icon-choose{
        position: relative;top:120px ;left:120px;
        width: 350px;height:300px;box-shadow:1px 1px 7px  #333;background: rgb(255, 254, 254);
    border-radius: 7px ;justify-content: center;text-align-last: center;
    transition: all 0.8s;
    margin:20px;
    }
    .wrapper .content .item1 .wrap-icon .icon-choose:hover{
        transform: translateY(-6px);box-shadow: 0 0 30px #333;
    }
    .wrapper .content .item1 .wrap-icon .icon-choose img {
        width: 100px;height:100px;position: relative;zoom: 1.2;
        top:30px;border-radius: 20%;
        object-fit: cover;
    }
    .wrapper .content .item1 .wrap-icon .icon-choose h3{
        z-index: 2;position: relative;top:38px;
    }
    .wrapper .content .item1 .wrap-icon .icon-choose p{
        padding: 28px 10px ;color:gray;
    }
    
    
    

     .wrapper .content .item2{
      width:100%;height:15%;background: rgb(255, 255, 255);
      position: relative;
     
      box-sizing: border-box;
    } 
  
    .wrapper .content .item2 .small-text2{
       
        width:50%;height:35%;position: absolute;left:270px;top:10px;
        text-align: center;
        justify-content: center;
    }
    .wrapper .content .item2 .small-text2 .he{
        color:black ;font-size: 25px;position: relative;
    }
    .wrapper .content .item2 .small-text2 .h6{
        color:gray;font-size: 16px ;
    }
  

    .wrapper .content .item2 .slider-sample{
      overflow: hidden;
        width:90%;display: flex;flex-direction: row;
        height:160px;
        position: relative;
        top:190px;
    }
    .wrapper .content .item2 .slider-sample img{
        padding-left: 10px;border-radius: 20px 10px 10px 20px  ;
    }
    .wrapper .content .item2 html.enable-javascript .slider-sample{
visibility: hidden;
}
/* 画像すべてを読み終えたら、対象を表示する */
html.enable-javascript.window-load .slider-sample{
visibility: visible;
}
    .wrapper .content .item3{
    width:100%;height:13%;
      position: relative;
     display: flex; flex-direction: row;

    }
    .wrapper .content .item3 .about-us-father{
        width:50%;height:90%;
      
    position: relative ;
   
    }
    .wrapper .content .item3 .about-us-father .about-us{
      width:120%;height:100%;background: rgb(255, 252, 252);border-radius: 0px 180px 190px 0px ;
      z-index: 3;position: absolute ;
      box-shadow: 0 0 30px #333;
      padding-left: 50px ;
      padding-top: 40px;
    }
    .wrapper .content .item3 .about-us .about-us_text{
        width:90%;height:60%;border-radius: 0px 100px 0px 0px ;font-size: 20px;
    }
    .wrapper .content .item3 .about-us .Number{
        width:50%;height:110px;background: rgb(255, 254, 254);
        display: flex;
        position: relative;
    }
    .wrapper .content .item3 .about-us .Number .number_left{
        width:40%;height:100%;position: relative;
    }
    .wrapper .content .item3 .about-us .Number .number_left h1{
        color:#f51ed8;
    }
    .wrapper .content .item3 .about-us .Number .number_right{
        width:40%;height:100%;margin-left:20px;
    }
    .wrapper .content .item3 .about-us .Number .number_right h1{
        color:#37e20c;
    }
    .wrapper .content .item3 .wrap-image{
        width:50%;height:100%;
        position: relative;
    }
    .wrapper .content .item3 .wrap-image .animation-image{
      width:100%;height:100%;object-fit: cover;
    }
    .wrapper .content .item3 .wrap-image .icon-play-animation{
      width:60px;
      height:60px;
      border-radius: 100%;
      background: rgb(248, 245, 245);
      position: absolute;
     left:300px;top:200px;
     text-align: center;
     padding-top: 15px;
}
    .wrapper .content .item3 .wrap-image .icon-play-animation:before{
        content: "";
        width:100%;
        height:100% ;
        border:1px solid #f1f1f1;
        position: absolute;
        border-radius:100%;
        animation: .9s out ease-in-out infinite;
        -webkit-animation: .9s out ease-in-out infinite;
        left:0;top:0;
}
    @keyframes out{
        0%{
            transform: scale(0);opacity: 1;
        }
        50%{
            transform: scale(1.5);background: rgb(250, 249, 249);opacity: 0.6;
        }
        100%{
            transform: scale(1);
        }
    }
    .wrapper .content .item3 .wrap-image .icon-play-animation i{
      color:rgb(255, 208, 0);font-size: 27px;
    }
    .wrapper .content .item4{
       background: rgb(255, 255, 255);width:100%;height:33%;
      position: relative;
      left:10px;top:1px;
    }
    .wrapper .content .item4 .Our_courses{
      width:50%;height:100px;background: rgb(255, 255, 255);text-align-last: center;position: relative;
    left:300px;top:30px;
    }
    .wrapper .content .item4 .Our_courses p{
      font-size: 19px;
    }
    .wrapper .content .item4 .courses {
    
      width:100%;height:1020px;background: rgb(255, 255, 255);position: relative;top:35px;box-sizing: border-box;
    }
    .wrapper .content .item4 .courses .courses-item{
      display: grid; grid-template-columns: auto auto auto;
      grid-row-gap: 10px;padding:70px; grid-column-gap: 10px;
    }
    .wrapper .content .item4 .courses .courses-item .course{
     
      position: relative;left:10px;border-radius: 10px;backface-visibility: hidden;overflow: hidden;
     width:95%;height:100%;text-align-last: center;box-shadow:1px 0px 11px #333;
    }
    .wrapper .content .item4 .courses .courses-item .course:hover .main_pic-course{
      backface-visibility: hidden;transform: scale(1.2); transition:all 1.7s;
    }
    .wrapper .content .item4 .courses .courses-item .course .main_pic-course{
    width:101%;object-fit: cover;
    }
    .wrapper .content .item4 .courses .courses-item .course .text-down{
      z-index: 3 ;background: rgb(255, 255, 255);position: relative;top:-10px;
   height:110px;
    }
    .wrapper .content .item4 .courses .courses-item .course .text-down h4{
      position: relative;top:6px;
    }
    .wrapper .content .item4 .courses .courses-item .course .text-down p{
      position: relative;top:4px;
    }
    .wrapper .content .item4 .courses .courses-item .course .text-down .star{
      color: rgb(238, 73, 8);
      background: rgb(255, 255, 255);position:absolute;width:100%;height:30px;display: flex;
      flex-direction: row;
    }
    .wrapper .content .item4 .courses .courses-item .course .text-down .star .wrap-star{
      width:50%;height:100%;background: rgb(255, 255, 255);padding-right: 80px ;border-bottom:1.3px solid gainsboro ;
    }
    .wrapper .content .item4 .courses .courses-item .course .text-down .star .people-like{
 padding-left: 100px;border-bottom:1.3px solid gainsboro ;background: rgb(255, 255, 255);
    }
    .wrapper .content .item4 .courses .courses-item .course .small_profile{
      width:100%;height:60px;background: rgb(255, 255, 255);display: flex;
    }
    .wrapper .content .item4 .courses .courses-item .course .small_profile img{
      top:16px;
      width:40px;height:40px;border-radius: 50%;object-fit: cover;z-index: 3;position: relative;
    }
    .wrapper .content .item4 .courses .courses-item .course .small_profile h4{
      position: absolute;left:47px;bottom:5px;
    }
    .wrapper .content .item4 .courses .courses-item .course .small_profile .price{
      border-radius: 4px;
      width:60px ;height:30px;background:  rgb(7, 236, 236);position: relative;left:240px;top:20px;
    }
    .wrapper .content .item4 .courses .courses-item .course .small_profile .price p{
      position: relative;top:3px;
    }

   
   

    .footer{
      align-content: center;justify-content: center;
        width:100%;height:9.6%;background: rgb(100, 98, 98);display: flex;flex-direction: row;position: relative;box-sizing: border-box;
    }




    .footer .footer_content1{
      padding-top:40px;
      display: flex;flex-direction: row;
      width:20%;height:60%;background: transparent;
      position: relative;
    }
    .footer .footer_content1 .small_text-footer{
background:transparent;color:white;
    }
    .footer .footer_content1 .small_text-footer .fas.fa-graduation-cap{
      font-size: 50px;color : rgb(240, 178, 6);
    }
    .footer .footer_content1 .small_text-footer #span1{
      color:white;font-weight: bold;font-size: 27px;
    }
    .footer .footer_content1 .small_text-footer #span2{
      color:rgb(245, 221, 3);font-weight: bold;font-size: 27px;
    }
    .footer .footer_content1 .small_text-footer .small_icon-footer1{
      display: flex;padding:5px 7px;color:white;
    }
    .footer .footer_content1 .small_text-footer .small_icon-footer1 i{
      font-size: 20px;
    }
    .footer .footer_content1 .small_text-footer .small_icon-footer2{
      display: flex;padding:5px 7px;color:white;
    }
    .footer .footer_content1 .small_text-footer .small_icon-footer2 i{
      font-size: 18px;
    }
    .footer .footer_content1 .small_text-footer .small_icon-footer3{
      display: flex;padding:5px 7px;color:white;
    }
    .footer .footer_content1 .small_text-footer .small_icon-footer3 i{
      font-size: 18px;
    }
    .footer .footer_content1 .small_text-footer p{
      padding-left:10px;
    }
    .footer .footer_content2{
      padding-top:50px;
      width:13%;height:70%;position: relative;
    }
    .footer .footer_content2 .footer-ul{
     
      display: flex;flex-direction: column;
    }
    .footer .footer_content2 .footer-ul .footer-li{
      list-style-type: none; padding:4px;transition: ease-out 0.7s;
    }
    .footer .footer_content2 .footer-ul .footer-li a{
      text-decoration: none;padding: 14px;
    }
    .footer .footer_content2 .footer-ul .footer-li a:nth-child(1){
      color:white;
    }
    .footer .footer_content2 .footer-ul #bold{
      font-size: 18px;padding-left: 15px;
   
      color:white;
    }
    .footer .footer_content2 .footer-ul .footer-li a:hover{
      color:#eff306;
    }
    .footer .footer_content2 .footer-ul .footer-li:hover{
      transform: translateX(10px);
    }
    .footer .footer_content3{
      width:26%;height:80%;background: transparent ;display: flex;flex-direction: column;padding-top: 30px;
    color:white;position: relative;
    }
    .footer .footer_content3 .item-a{
      width:100%;height:60px;
    }
    .footer .footer_content3 .item-b {
      overflow: hidden;
      display: flex;flex-direction: row;width:100%;height:23%;
     
    }
    .footer .footer_content3 .item-b img{
      width:70px ;height:70px;object-fit: cover;

    }
    .footer .footer_content3 .item-b .day{display: flex;flex-direction: row;width:80%;
      position: relative;top:40px;left:-100px;color:rgb(172, 165, 165);
    }
    .footer .footer_content3 .item-b p{
     position: relative;left:20px;
    }
    .footer .footer_content3 .item-c {
      position: relative;top:20px;overflow: hidden;
      display: flex;flex-direction: row;width:100%;height:23%;
    }
    
    .footer .footer_content3 .item-c img{
      width:70px ;height:70px;object-fit: cover;

    }
    .footer .footer_content3 .item-c .day{
      color:rgb(172, 165, 165);
      position: relative;top:40px;left:-100px;display: flex;flex-direction: row;width:80%;
    }
    .footer .footer_content3 .item-c p{
     position: relative;left:20px;
    }
    .footer .footer_content3 .item-d {

     overflow: hidden;
      display: flex;flex-direction: row;width:100%;height:23%;position: relative;top:40px;
    }
    .footer .footer_content3 .item-d img{
      width:70px ;height:70px;object-fit: cover;

    }
    .footer .footer_content3 .item-d .day{
      color:rgb(172, 165, 165);
      position: relative;top:40px;left:-100px;display: flex;flex-direction: row;width:80%;
    }
    .footer .footer_content3 .item-d p{
     position: relative;left:20px;
    }
    .footer .footer_content4{
      width:30%;height:60%;color:white;padding-top: 30px;
      position: relative;
    }
     .footer .footer_content4 section {
      display: flex;flex-direction: row;
      height:47px;width:95%;
    } 
    .footer .footer_content4 section #send-to{
      background: rgb(156, 146, 146);
      width:84%;height:47px;border-radius: 7px;outline: none;border: none;
      padding-left:20px;
    }
    .footer .footer_content4 section .subscribe{
     
      width:90px;height:38px;background:rgb(250, 184, 2);position: absolute;top:141px;border: none ;
      right:98px;text-align: center;
      border-radius: 4px;font-family: Arial;
    } 
    .footer .footer_content4 section .subscribe:hover{
        transform: scale(1.2);
        transition:1s ;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        -webkit-transition:1s ;
        -moz-transition:1s ;
        -ms-transition:1s ;
        -o-transition:1s ;
}
    .footer .footer_content4 section .subscribe a{
        text-decoration: none;color: rgb(255, 255, 255);
    }
    .footer .footer_content4 .icon_end i:hover{
      color:rgb(250,184,2);
    }

    
    .footer .footer_content4 .icon_end{
      color:white;
      width:100%;height:40px;display: flex;flex-direction: row;
    }
    .footer .footer_content4 .icon_end .icon_end-one{
      position: relative;left:1px;top:6px;background: rgb(88, 87, 87);
      width:30px;height:30px;justify-content: center;text-align: center;border-radius: 5px ;padding-top: 5px ;
    }
    .footer .footer_content4 .icon_end .icon_end-two{
      position: relative;left:8px;top:6px;background: rgb(88, 87, 87);
      width:30px;height:30px;justify-content: center;text-align: center;border-radius: 5px ;padding-top: 5px ;
    }
    .footer .footer_content4 .icon_end .icon_end-three{
      position: relative;left:15px;top:6px;background: rgb(88, 87, 87);
      width:30px;height:30px;justify-content: center;text-align: center;border-radius: 5px ;padding-top: 5px ;
    }
    .footer .footer_content4 .icon_end .icon_end-four{
      position: relative;left:24px;top:6px;background: rgb(88, 87, 87);
      width:30px;height:30px;justify-content: center;text-align: center;border-radius: 5px ;padding-top: 5px ;
    }
    .footer .footer_content4 .icon_end .icon_end-four img{
    width:20px;height:20px;
    }
    .footer .footer_content4 .icon_end .icon_end-five{
      position: relative;left:30px;top:6px;background: rgb(88, 87, 87);
      width:30px;height:30px;justify-content: center;text-align: center;border-radius: 5px ;padding-top: 5px ;
    }
   
    @media only screen and (max-width: 739px){
      .wrapper{
        height:7700px;
      }
      .wrapper .header{
        height:60px;
      }

     .wrapper .menu .small-icon-responsive{
        display: block;
      }
      .wrapper .menu{
        height:70px;
      }
      .wrapper .content{
        height:81%;
      }
      .wrapper .content .main-slider{
        height:300px;
      }
      .wrapper .content .item1{
        height:1300px;
      }
      .wrapper .content .item1 .small_text{
        left:20px;
        width:90%;
        height:10%;
      }
      .header .header-left{
       display: none;
      }
      .header .header-right{
        width:100%;
        padding-left: 0px ;
      }
      .header .header-right .right{
        width:50%;
        padding-left: 0px ;
      }
      .header .right i{
        padding:1px;
      }
      .wrapper .menu .menu-left{
        width:60%;
      }
      .wrapper .menu .menu-left .logo{
        width:100%;left:0;top:0;
      }
      .wrapper .menu .menu-right{
        display: none;
      }
      .wrapper .content .item1 .wrap-icon{
        display: flex; flex-direction: column;

      }
      .wrapper .content .item1 .wrap-icon .icon-choose{
        top:10px;
        left:0px;
        margin: 10px ;
      }
      .wrapper .content .item2{
        height:500px;
      }
      .wrapper .content .item2 .small-text2{
        left:8px;width:90%;height:160px;
      }
      .wrapper .content .item2 .slider-sample{
        width:100%;
      }
      .wrapper .content .item3{
        height:1200px;
        display: flex; flex-direction: column !important ;
      }
      .wrapper .content .item3 .about-us-father{
        height:50%;
        width:100%;
  
}
.wrapper .content .item3 .about-us-father .about-us{
  padding-left: 1px ;
  padding-top: 2px;
  border-radius: 0 0 0 0 ;
  -webkit-border-radius: 0 0 0 0 ;
  -moz-border-radius: 0 0 0 0 ;
  -ms-border-radius: 0 0 0 0 ;
  -o-border-radius: 0 0 0 0 ;
  padding: 30px ;
}
.wrapper .content .item3 .wrap-image{
  width:100%;
  height:50%;
}
.wrapper .content .item3 .wrap-image .animation-image{
  height:90%;
}
.wrapper .content .item3 .wrap-image .icon-play-animation{
  left:150px;
}

.wrapper .content .item4{
  height:2700px;left: 0px ;
}
.wrapper .content .item4 .courses{
  height:100%;
}
.wrapper .content .item4 .courses .courses-item{
  display: flex; flex-direction: column;
  padding: 0px ;
}
.wrapper .content .item4 .Our_courses{
  width: 100% ; left:0px;padding: 10px ;top:0px;
  height:200px;
}
.wrapper .content .item3 .about-us .Number{
  top:30px;
}
.wrapper .content .item4 .courses .courses-item .view_all-courses{
  left:100px;display: none;
}
.footer{
  display: flex; flex-direction: column;
  height:19%;
}
.footer .footer_content1{
  width:100%;padding-top: 1px;
  height:15%;bottom:100px;text-align: center;
}
.footer .footer_content2{
  height: 22%;width:100%;bottom:110px;text-align: center;
}
.footer .footer_content3,
.footer .footer_content4{
  width:100%;height:20%;bottom:150px;text-align: center;
  justify-content: center;padding-left: 10px;
}
.footer .footer_content4 section .subscribe{
  right:30px;
}
.footer .footer_content4 .icon_end{
 padding-left: 90px;
}
.footer .footer_content1 .small_text-footer .small_icon-footer1,
.footer .footer_content1 .small_text-footer .small_icon-footer2,
.footer .footer_content1 .small_text-footer .small_icon-footer3
{
  padding-left: 100px ;
}

    }

    @media only screen and (min-width: 740px)and (max-width: 1023px){
      .wrapper{
        height:5000px;
      }
      .header .header-left{
        width:35%;
      }
      .header .header-right{
        width:65%;
      }
      .header .header-left .text{
        left:10px;
      }
      .header .header-right .right{
        width:60%;padding-left: 10px ;
      }
      .wrapper .menu .menu-left{
        width:30%;
      }
      .wrapper .menu .menu-left .logo{
        left:0px;
      }
      .wrapper .menu .menu-right{
        width:70%;
      }
     
      .wrapper .menu .menu-right .main-ul .main-li a{
        font-size: 17px;
      }
      .wrapper .content .main-slider{
        height:400px;
      }
      .wrapper .content .item1 .small_text{
        left:200px;
      }
      .wrapper .content .item1 .small_text p{
        font-size: 20px;
      }
      .wrapper .content .item1 .wrap-icon .icon-choose{
        left:0px;height:350px;margin: 10px;
      }
      .wrapper .content .item1{
        left:0px;
      }
      .wrapper .content .item3 .wrap-image{
        height:80%;
      }
      .wrapper .content .item3 .wrap-image .icon-play-animation{
        left:130px;
      }
      .wrapper .content .item3 .about-us .Number{
        top:36px;
      }
      .wrapper .content .item4 .Our_courses{
        left:180px;
      }
      .wrapper .content .item4 .courses{
        height:1434px ;top:100px;
      }
      .wrapper .content .item4 .courses .courses-item{
        padding:10px;height:100%;
       display: grid; grid-template-columns: auto auto ;
        grid-row-gap: 20px;
      }
      .wrapper .content .item4 .courses .courses-item .course{
        left:0px;height:427px;
      }
      .wrapper .content{
        height:80%;
      }
      .footer .footer_content1{
       height:90%;width:25%;
      }
      .footer .footer_content4 section .subscribe{
        right:0px;top:160px;width:70px;
      }
      .footer .footer_content4 section #send-to{
        width:100%;
      }
    }
    @media only screen
  and (min-width: 1024px) 

  {
    .wrapper{
      width:1400px;
    }
  }